@model IEnumerable<Common.Models.Student>

@{
    ViewBag.Title = "Results";
}

@Html.ActionLink("Students", "Index", null, null) |
@Html.ActionLink("Results", "Results", null, null)

<h2>Results</h2>
<div>
    @{
        var grid = new WebGrid(Model, canSort: false);
    }

    @grid.GetHtml(
        columns: grid.Columns(
            grid.Column("Id", "Id"),
            grid.Column("FirstName", header: "First Name"),
            grid.Column("LastName", header: "Last Name"),
            grid.Column("FatherInitial", header: "Father's Initial"),
            grid.Column("PIN", header: "PIN"),
            grid.Column("City", header: "City"),
            grid.Column("Address", header: "Address"),
            grid.Column("Highschool", header: "High School"),
            grid.Column("Specialization", header: "Specialization"),
            grid.Column("AdmissionExamGrade", header: "Exam"),
            grid.Column("BaccalaureatAverageGrade", header: "Bacc Avg"),
            grid.Column("BaccalaureatMaximumGrade", header: "Bacc Max"),
            grid.Column("FinalGrade", header: "Final"),
            grid.Column("Status", header: "Status")
        )
    )
</div>

@Html.ActionLink("Generate PDF", "GeneratePDF", null, null) |
@Html.ActionLink("Generate CSV", "GenerateCSV", null, null)
